:root {
  --mark-text-color: #1f1f1f;

  --ion-color-primary: #3880ff;

  /* Fallbacks for light mode */
  --ion-background-color: #ffffff;
  --ion-text-color: #121212;
  --ion-color-step-50: #f4f5f8;
  --ion-color-step-150: #e2e8f0;
  --ion-color-step-400: #9ca3af;
  --ion-color-medium: #666666;
}